.Pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-style: ridge;
    margin: 10px;
    background-color: lightsteelblue;
}

.Pokedex-winner {
    color: darkblue;
    font-weight: bold;
}